* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: AblogFont;
    src: url("../../resource/font/font.subset.woff2");
}

body {
    font-family: AblogFont, serif;
    background-color: #21201f;
}

.FloatEnd {
    clear: both;
}

.head {
    height: 260px;
    background-color: #657d7e;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#AblogImg {
    width: 12%;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

#SetImg {
    width: 3%;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

#Title {
    font-size: 56px;
    text-align: center;
    margin-top: 70px;
}

.Body {
    width: 1100px;
    margin: 50px auto 50px auto;
    position: relative;
}

#article, #comment, #directory {
    background-color: #21201f;
    color: darkgray;
    box-shadow: -5px -3px 18px #2d2e2e;
}

#article {
    width: 820px;
    padding: 20px 10px 20px 35px;
    float: left;
}

#directory {
    width: 240px;
    padding: 10px;
    float: right;
}

#comment {
    width: 800px;
    margin-top: 40px;
    padding: 20px 10px 20px 35px;
    float: left;
}

.Bottom {
    margin-bottom: 30px;
    text-align: center;
    font-size: 10px;
}
