@font-face {
    font-family: awan;
    src: url("../font/font.subset.woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181a1b;
    font-family: awan, sans-serif;
}

#tiltediv {
    text-align: center;
    height: 130px;
    margin-top: 50px
}

.tilte {
    font-size: 50px
}

#site {
    width: 1000px;
    margin: 0 auto 80px auto;
    padding: 50px 0 50px 0;
    background-color: #35393b;
    border-radius: 40px;
    text-align: center;
}

.mod {
    display: inline-block;
    width: 198px;
    height: 60px;
    border-radius: 16px;
    background-color: #527a7a;
    font-size: 36px;
    padding-top: 6px;
    color: aliceblue;
    text-decoration: none;
    margin-right: 8px;
}

form {
    margin-top: 40px;
    width: 720px;
    margin-left: 140px;
    padding: 30px 0 30px 36px;
    background-color: #5c5c5c;
    border-radius: 28px;
    transition: background-color 500ms, width 500ms;
}

form:hover {
    width: 728px;
    background-color: dimgrey;
}

.one {
    margin-left: -140px;
}

td {
    display: inline-block;
    font-size: 34px;
    padding-right: 16px;
    color: aliceblue;
}

#hellodiv {
    margin-top: -220px;
}

.hello {
    text-align: center;
    color: aliceblue;
}

input {
    display: inline-block;
    width: 222px;
    height: 40px;
    border-radius: 10px;
    background-color: #181a1b;
    color: aliceblue;
    padding-left: 8px;
    border: none;
}

.download {
    display: block;
    margin: 17px 0 0 165px;
    width: 315px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #566e3ede;
    color: aliceblue;
    text-decoration: none;
}