#article-md {
    float: left;
}

#article-sh {
    float: right;
}

#article, #showdown {
    width: 530px;
    height: 500px;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 12px;
}

#showdown {
    overflow: scroll;
}

#article-ti {
    margin: 0 auto;
}

#article-ti p, #title, #sub, #del, #type, #typeSelect {
    float: left;
}

#title, #type {
    width: 300px;
    height: 32px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 0 30px 0 2px;
}

#sub, #del, #typeSelect {
    width: 78px;
    height: 32px;
    margin-left: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
}

#del, #type {
    display: none;
}

#typeSelect {
    margin-left: 5px;
}

#article, #showdown, #title, #type, body {
    transition: background-color 700ms;
}